.cart{
    display: flex;
    justify-content: space-around;
    color: white;
}

.fondoCircular{
    position: relative;
    bottom: 10px;
    width: 20px;
    background-color: rgb(160, 209, 160);
    border-radius: 50%;

    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
